version: 2
updates:

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
      cooldown: "1 day"
    labels:
      - "maintenance"
      - "dependencies"
    commit-message:
      prefix: "build"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      cooldown: "1 day"
    labels:
      - "maintenance"
    commit-message:
      prefix: "ci"
    groups:
       actions:
          patterns:
            - "*"
