##############################################################################
#
# Aliases Table Description
#
##############################################################################

## inputs
SSM::alias Convert_In OP/Convert_In
SSM::alias Convert_In_rgb OP/Convert_In.rgb

SSM::alias CMY_In OP/CMY_In
SSM::alias CMYArray_In OP/CMYArray_In
## sensors
SSM::alias _S S
SSM::alias IS P1::IS
## outputs
SSM::alias Convert_Out OP/Convert_Out
SSM::alias CMY_Out OP/CMY_Out
SSM::alias CMYArray_Out OP/CMYArray_Out

SSM::alias_value CONVERT_INIT (P1::Defs::R,(0,0,0))

